<div id="left-menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#" data-toggle="collapse" data-target="#demo">Главная</a>
            <div id="demo" class="collapse">
                List of mens perfumes
            </div>
        </li>
        <li><a href="#">Профиль</a></li>
        <li><a href="#">Сообщение</a></li>
    </ul>
</div>