<div id="left-menu">
    <ul class="nav nav-pills nav-stacked">
        <li class="active">
            <a href="#" data-toggle="collapse" data-target="#sex">Духи</a>
            <div id="sex" class="collapse">
                <ul>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#mens-firms">Мужские</a>
                        <div id="mens-firms" class="collapse">
                            <ul>
                                <li><a href="#">Фирма 1</a>
                                <li><a href="#">Фирма 2</a>
                                <li><a href="#">Фирма 3</a>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#womens-firms">Женские</a>
                        <div id="womens-firms" class="collapse">
                            <ul>
                                <li><a href="#">Фирма 1</a>
                                <li><a href="#">Фирма 2</a>
                                <li><a href="#">Фирма 3</a>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="#">Косметика</a></li>
        <li><a href="#">Что-то ещё</a></li>
    </ul>
</div>
<div id="create-firm">
    <button data-toggle="collapse" data-target="#create-firm-form" class="btn-default">Create new firm</button>
    <div id="create-firm-form" class="collapse">
        <h2>Here form of create new brand...</h2>
        <h2>Here form of create new brand...</h2>
        <h2>Here form of create new brand...</h2>
        <h2>Here form of create new brand...</h2>
    </div>
</div>
<div>
    @*<button data-toggle="collapse" data-target="#create-firm-form" class="btn-default">Create new firm</button>*@
    <div id="create-firm-form" class="collapse">
        <h2>Here form of create new brand...</h2>
        <h2>Here form of create new brand...</h2>
        <h2>Here form of create new brand...</h2>
        <h2>Here form of create new brand...</h2>
    </div>
</div>